.write {
  padding-top: 50px;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeInput:focus {
  outline: none;
}

.category {
  margin-left: 170px;
  color: gray;
  font-size: 25px;
}

.select {
  color: rgb(66, 66, 66);
  font-size: 15px;
  border: 1px solid gray;
}

.select:focus {
  outline: none;
}

.writeText {
  font-size: 20px;
  height: 100vh;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  .write {
    padding-top: 20px;
  }

  .writeImg {
    margin-left: 20px;
    margin-bottom: 10px;
    width: 90vw;
    height: 250px;
  }

  .writeFormGroup {
    margin-left: 10px;
  }

  .writeIcon {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
  }

  .writeInput {
    font-size: 20px;
    padding: 10px;
    width: 70vw;
    margin-bottom: 10px;
  }

  .category {
    margin-left: 10px;
    color: gray;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .select {
    font-size: 15px;
  }

  .writeSubmit {
    top: 5px;
    right: 5px;
    padding: 10px;
    font-size: 15px;
  }
}
